#hero {
    background-size: cover;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 2rem;
    width: 100%;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .hero-content h1 {
    margin-bottom: 1rem;
  }
  
  .hero-content h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .black-box-content {
    text-align: center;
  }
  
  .black-box-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .black-box-content p {
    font-size: 1rem;
    line-height: 1.5;
  }
  #projects {
    padding: 2rem;
  }
  
  .card-container {
    display: grid
  }
  .column {
    float: left;
    padding: 10px;
    height: auto; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  footer{
    text-align: center;
    background: beige;
    padding: 20px;
    width: 100%;
  }
  @media screen and (max-width:650px) {
    img{
        width:100%;
    }
  }